.contenedor-menus {
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: #000;
  color: white;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
}

/*MENU IZQUIERDA*/
.menu-izquierda {
  width: 180px;
}

.menu-izquierda > .logo img {
  width: 230px;
  height: 100%;
  padding: 5px 0;
}

/*MENU CENTRO*/
.menu-centro {
  width: 900px;
}

h2 {
  width: 90px;
  font-weight: 600;
  color: #ffdd34;
  font-size: 15px;
}

.links-centro {
  display: flex;
  justify-content: space-between;
}

.links-centro > .menu1 a {
  color: white;
  font-size: 22px;
  font-weight: 900;
  text-decoration: none;
  padding: 0 10px 0 0;
}

.spark {
  margin: 0;
  width: 500px;
  display: flex;
  justify-content: flex-start;
}

.spark p {
  font-size: 20px;
  color: rgb(206, 206, 206);
}

.spark > .icono i {
  font-size: 12px;
  color: white;
  padding-left: 12px;
}

.links-centro > .menu1 a:hover {
  color: rgb(0, 255, 0);
}

.spark p:hover {
  color: rgb(0, 255, 0);
}

/*MENU DERECHA*/
.menu-derecha {
  width: 550px;
  justify-content: left;
}

.menu2 {
  width: 450px;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.menu2 a {
  width: 105px;
  font-weight: 450;
  padding: 15px 10px 0 10px;
  background-color: rgba(66, 66, 66, 1);
  color: #fff;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
}

.create {
  width: 110px;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  background-color: rgba(66, 66, 66, 1);
  color: #fff;
  border-radius: 3px;
  text-align: center;
}

.create p {
  font-weight: 450;
}

.create i {
  font-size: 18px;
  color: rgb(0, 255, 0);
}

.lupa i {
  padding: 10px 5px;
  font-size: 28px;
  font-weight: 600;
  color: #4b4b4b;
  text-align: left;
}

.menu2 a:hover {
  background-color: #fff;
  color: #252525;
}

.create:hover {
  background-color: #fff;
  color: #252525;
}

.lupa i:hover {
  color: #fff;
}
