.pie {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(110, 109, 109, 1) 0%,
    rgba(66, 66, 66, 1) 23%,
    rgba(0, 0, 0, 1) 100%
  );
  font-family: "Jost", sans-serif;
  padding: 5px 0;
  margin-top: 0;
}
.contenedor-pie {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.contenedor-pie a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #777676;
  border: 1px solid #b5b5b5;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: 600;
  transition: 0.3s;
}
.contenedor-pie a strong {
  color: #fff;
  font-weight: 700;
  font-size: 22px;
}
.contenedor-pie a:hover,
.contenedor-pie strong:hover {
  color: #ffdd34;
}
